.loading-screen {
  position: fixed;
  inset: 0;

  background: white;

  display: flex;
  justify-content: center;
  align-items: center;

  z-index: 999999;
}

.loading-content {
  text-align: center;

  animation: fadeIn 1s ease;
}

.loading-logo {
  width: 180px;
  height: 180px;

  object-fit: contain;

  border-radius: 50%;

  animation: zoomLogo 2s ease infinite alternate;
}

.loading-content h1 {
  margin-top: 20px;

  color: #8b3f00;

  font-size: 42px;

  font-weight: 800;

  letter-spacing: 2px;
}

.loading-content p {
  margin-top: 10px;

  color: #666;

  font-size: 18px;
}

@keyframes zoomLogo {
  from {
    transform: scale(1);
  }

  to {
    transform: scale(1.08);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
